# no build files
build/

# no editor files
.vscode/


# no log files
*.log
*.pdf
*.png
*.img
log/


# no data files
data/


# no exe bin
a.out
*.o
test.*
test1*


# no tmp file
tmp.cfg
tmp/

# no zip files
*.zip

# ignore exp
exp/

# config files
node_modules/
saved_modules/
package-lock.json

# dataset directory
data/
